<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!-- 引入数据库连接属性配置文件 -->
    <bean id="propertyConfigure" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:database.properties"/>
    </bean>
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!-- jdbc事务管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 事务模板 -->
    <!-- 2. 注释模式事务：启动使用注解实现声明式事务管理的支持 -->
    <tx:annotation-driven transaction-manager="txManager"/>
    <!-- 创建事务服务对象 -->
    <bean id="bookService2" class="com.ishavanti.service.impl.BookServiceImpl2"/>

    <!-- 1. 通过事务通知（AOP）的方式实现事务管理 -->
    <!-- 创建事务服务对象 -->
    <bean id="bookService" class="com.ishavanti.service.impl.BookServiceImpl"/>
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <!-- 事务语义定义 -->
        <tx:attributes>
            <!-- 以find开头的所有方法都为只读事务 -->
            <tx:method name="find*" read-only="true"/>
            <!-- 其他方法使用默认事务设置 -->
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <!-- 确保上述事务通知对定义在BookService接口中的方法都起作用，即对每一个方法都开启一个对应的事务 -->
    <aop:config>
        <aop:pointcut id="bookServiceOperation" expression="execution(* com.ishavanti.service.BookService.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="bookServiceOperation"/>
    </aop:config>
</beans>