<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置目标类 -->
    <bean id="studentDao" class="com.ishavanti.aop.demo6.StudentDaoImpl"/>
    <bean id="customerDao" class="com.ishavanti.aop.demo6.CustomerDao"/>

    <!-- 配置增强 -->
    <bean id="myBeforeAdvice" class="com.ishavanti.aop.demo6.MyBeforeAdvice"/>
    <bean id="myAroundAdvice" class="com.ishavanti.aop.demo6.MyAroundAdvice"/>

    <!-- 配置切面 -->
    <bean id="myAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="pattern" value="com\.ishavanti\.aop\.demo6\.CustomerDao\.save"/>
        <property name="advice" ref="myAroundAdvice"/>
    </bean>

    <!-- 配置自动代理（根据切面信息） -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
</beans>